## CUSTOMER CHURN PREDICTION

> Topic: Customer churn prediction is a critical aspect of business management, particularly for industries like telecommunications, internet service providers, pay TV companies, insurance firms, and alarm monitoring services. It involves understanding and addressing customer attrition, which refers to the loss of clients or customers.

> For businesses in these sectors, measuring customer attrition is a vital business metric. This is because retaining an existing customer is significantly more cost-effective than acquiring a new one. As a result, these companies often have customer service branches dedicated to re-engaging customers who are considering leaving. This is because the long-term value of recovered customers far outweighs that of newly acquired ones.

> To address customer churn, predictive analytics comes into play, churn prediction models to assess the likelihood of customers leaving. These models prioritize a small list of potential defectors, enabling businesses to concentrate their customer retention efforts on those who are most at risk of churning.

> Help us to train a machine learning model step by step and present on slide.

> Requirements: Clear, simple, optimized code (if possible) + code explanation. (OOP is a plus but optional)
* Slide is clear, insightful and delightful (optional)
* English is a must (If slide and code are not presented in English, your result will be eliminated)  
**Keyword: Binary Classification, Python, EDA.**

### 1. Import Libraries

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Load datasets

In [26]:
df20_raw = pd.read_csv('../Data/churn-bigml-20.csv')
df80_raw = pd.read_csv('../Data/churn-bigml-80.csv')

### 3. EDA
#### 3.1. Data Understanding 
##### 3.1.1. Datasets size

In [27]:
print('rows and columns in churn-bigml-20.csv:', df20_raw.shape)
print('rows and columns in churn-bigml-80.csv:', df80_raw.shape)

rows and columns in churn-bigml-20.csv: (667, 20)
rows and columns in churn-bigml-80.csv: (2666, 20)

##### 3.1.2. Data type of columns

In [28]:
print('Data type of columns in churn-bigml-20.csv:')
display(df20_raw.dtypes)

Data type of columns in churn-bigml-20.csv:

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [29]:
print('Data type of columns in churn-bigml-80.csv:')
display(df80_raw.dtypes)

Data type of columns in churn-bigml-80.csv:

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

>

> Two datasets have the same name and type of columns.

##### 3.1.3. Display a few rows of data

In [30]:
print('In churn-bigml-20.csv')

display(df20_raw.head(5))

In churn-bigml-20.csv

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [31]:
print('In churn-bigml-80.csv')

display(df80_raw.head(5))

In churn-bigml-80.csv

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

##### 3.1.4. Display column names and types

In [32]:
display(df20_raw.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [33]:
display(df80_raw.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

##### 3.1.5. Info of dataset

In [34]:
display(df80_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

None

In [35]:
display(df20_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   667 non-null    object
 1   Account length          667 non-null    int64
 2   Area code               667 non-null    int64
 3   International plan      667 non-null    object
 4   Voice mail plan         667 non-null    object
 5   Number vmail messages   667 non-null    int64
 6   Total day minutes       667 non-null    float64
 7   Total day calls         667 non-null    int64
 8   Total day charge        667 non-null    float64
 9   Total eve minutes       667 non-null    float64
 10  Total eve calls         667 non-null    int64
 11  Total eve charge        667 non-null    float64
 12  Total night minutes     667 non-null    float64
 13  Total night calls       667 non-null    int64
 14  Total night charge      667 non-null    float64
 15  Total intl minutes      667 non-null    float64
 16  Total intl calls        667 non-null    int64
 17  Total intl charge       667 non-null    float64
 18  Customer service calls  667 non-null    int64
 19  Churn                   667 non-null    bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 99.8+ KB

None

| Columns                   | Data Types   | Description                                                          |
|---------------------------|--------------|----------------------------------------------------------------------|
| State                     | object       | State code where the customer lives                                  |
| Account length            | int64        | Number of days since the customer opened the account                 |
| Area code                 | int64        | Customer's phone area code                                           |
| International plan        | object       | Does the customer intend to use the international package or not (Yes/No)       |
| Voice mail plan           | object       | Does the customer intend to use the voicemail package (Yes/No)       |
| Number vmail messages     | int64        | Number of customer voicemails messages                               |
| Total day minutes         | float64      | Total number of minutes called by customers during the day           |
| Total day calls           | int64        | Total number of customer calls during the day                        |
| Total day charge          | float64      | Total cost for daytime calls                                         |
| Total eve minutes         | float64      | Total number of minutes of customer calls in the evening             |
| Total eve calls           | int64        | Total number of evening calls from customers                         |
| Total eve charge          | float64      | Total cost for calls in the evening                                  |
| Total night minutes       | float64      | Total number of customer call minutes at night                       |
| Total night calls         | int64        | Total number of customer calls at night                              |
| Total night charge        | float64      | Total cost for calls at night                                        |
| Total intl minutes        | float64      | Total number of international call minutes of the customer           |
| Total intl calls          | int64        | Total number of international calls made by customers                |
| Total intl charge         | float64      | Total cost for international calls                                   |
| Customer service calls    | int64        | Number of times the customer called customer service                 |
| Churn                     | bool         | Whether the customer leaves the service or not (True/False)          |

##### 3.1.6. Describe variables with numeric values

In [38]:
display(df80_raw.describe().T)

,count,mean,std,min,25%,50%,75%,max
Account length,2666.0,100.620405,39.563974,1.00,73.0000,100.00,127.000,243.00
Area code,2666.0,437.438860,42.521018,408.00,408.0000,415.00,510.000,510.00
Number vmail messages,2666.0,8.021755,13.612277,0.00,0.0000,0.00,19.000,50.00
Total day minutes,2666.0,179.481620,54.210350,0.00,143.4000,179.95,215.900,350.80
Total day calls,2666.0,100.310203,19.988162,0.00,87.0000,101.00,114.000,160.00
Total day charge,2666.0,30.512404,9.215733,0.00,24.3800,30.59,36.700,59.64
Total eve minutes,2666.0,200.386159,50.951515,0.00,165.3000,200.90,235.100,363.70
Total eve calls,2666.0,100.023631,20.161445,0.00,87.0000,100.00,114.000,170.00
Total eve charge,2666.0,17.033072,4.330864,0.00,14.0500,17.08,19.980,30.91
Total night minutes,2666.0,201.168942,50.780323,43.70,166.9250,201.15,236.475,395.00
Total night calls,2666.0,100.106152,19.418459,33.00,87.0000,100.00,113.000,166.00
Total night charge,2666.0,9.052689,2.285120,1.97,7.5125,9.05,10.640,17.77
Total intl minutes,2666.0,10.237022,2.788349,0.00,8.5000,10.20,12.100,20.00
Total intl calls,2666.0,4.467367,2.456195,0.00,3.0000,4.00,6.000,20.00
Total intl charge,2666.0,2.764490,0.752812,0.00,2.3000,2.75,3.270,5.40
Customer service calls,2666.0,1.562641,1.311236,0.00,1.0000,1.00,2.000,9.00

#### 3.2. Data Preprocessing

##### 3.2.1. Check Duplicated in dataset

In [36]:
num_duplicates = df80_raw.duplicated().sum()
print('Num of duplicates in dataframe: ', num_duplicates)

Num of duplicates in dataframe:  0

> The dataframe hasn't duplicated columns.

##### 3.2.2. Handle missing values

In [37]:
num_miss = df80_raw.isnull().sum()
print(num_miss)

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

> The dataframe hasn't NULL values.

##### 3.2.3. Handle outliers value

Calculate Z-Score to identify and count the number of outliers in each column with a Z-Score threshold > 3. In a normal distribution, only about 0.3% of values ​​fall outside ±3 standard deviations, which makes a threshold of 3 a reasonable threshold for detecting outliers.

In [40]:
df_numeric = df80_raw.select_dtypes(include=[np.number])

display(df_numeric.columns)

Index(['Account length', 'Area code', 'Number vmail messages',
       'Total day minutes', 'Total day calls', 'Total day charge',
       'Total eve minutes', 'Total eve calls', 'Total eve charge',
       'Total night minutes', 'Total night calls', 'Total night charge',
       'Total intl minutes', 'Total intl calls', 'Total intl charge',
       'Customer service calls'],
      dtype='object')

In [41]:
z_scores = np.abs((df_numeric - df_numeric.mean())/df_numeric.std())

In [45]:
threshold = 3
outliers = z_scores > threshold

print('Number of outlier values:\n')
print(outliers.sum())

Number of outlier values:

Account length             6
Area code                  0
Number vmail messages      2
Total day minutes          9
Total day calls            4
Total day charge           9
Total eve minutes          7
Total eve calls            4
Total eve charge           7
Total night minutes        9
Total night calls          5
Total night charge         9
Total intl minutes        19
Total intl calls          41
Total intl charge         19
Customer service calls    28
dtype: int64

> The number of outliers in the columns is very small compared to the number of rows in the data set, we may not need to process them. If in case building models for predict customer churn, we can handle these outliers.

##### 3.2.4. Data transformation

In [46]:
df80 = df80_raw.replace({True: 1, False: 0, 'Yes': 1, 'No': 0})

C:\Users\hghaa\AppData\Local\Temp\ipykernel_25672\1758607805.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df80 = df80_raw.replace({True: 1, False: 0, 'Yes': 1, 'No': 0})

In [49]:
print('Dataframe after transformation')
display(df80.head(5))

Dataframe after transformation

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0